<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VIP</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="main-body">
            <div class="gift-list">
                <div class="list-row">
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-1.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-2.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="list-row">
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-4.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-5.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="list-row">
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-7.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-8.png" alt="">
                        </div>
                    </div>
                    <div class="gift">
                        <div class="gift-body">
                            <img src="images/gift-9.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="entrance">
                <a href="#" target="_blank" class="btn-link"><span class="link-text"></span></a>
            </div>
            <div class="rule">
                <div class="rule-text">
                    活动商品11月27日开始寄送<br>凤凰娱乐保留对活动最终解释权
                </div>
            </div>
            <div class="copyright">&copy;2003-2017 凤凰娱乐 All Rights Reserved </div>
        </div>
        
    </div>
    
</body>
<script>
    
</script>
</html>