<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>title</title>
</head>
<body>
    <div class="main">
        <div class="qrcode-fixed-block">
            <div class="qrcode-block">
                <div class="qrcode"></div>
            </div>
            <div class="text">扫码下载App</div>
        </div>
        <div class="main-body">
            <div class="logo">
                <a href="#"><img src="./images/logo.png" alt="logo"></a>
            </div>
            <div class="act-time">
                <div class="title"><div class="title-text"></div></div>
                <div class="text-content">
                    <p><span class="red-text">2018年</span></p>
                    <p>第一期：<span class="red-text">2月14日</span> 00:00:00-<span class="red-text">2月20日</span> 23:59:59</p>
                    <p>第二期：<span class="red-text">2月21日</span> 00:00:00-<span class="red-text">2月27日</span> 23:59:59</p>
                </div>
            </div>
            <div class="act-detail">
                <div class="title"><div class="title-text"></div></div>
                <div class="text-content">
                    <p>用户在两期活动期间内，每日在App上投注腾讯分分彩即算作一次签到，<span class="red-text">单一期內连续投注达3日且同期内(7日)日均销量≥100</span>，即可获得签到奖金，单期最高可拿<span class="red-text">18,888元！</span></p>
                    <table class="table table-1">
                        <tr>
                            <td colspan="5" class="tb-title">用户返奖比例</td>
                        </tr>
                            <tr>
                                <td>连续签到天数</td>
                                <td><span class="text-num">3</span>天</td>
                                <td><span class="text-num">5</span>天</td>
                                <td><span class="text-num">7</span>天</td>
                                <td rowspan="2">

                                    <p>奖金最高上限</p>
                                    <p><span class="text-num">18,888</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="two-line">
                                    <p>奖金赠送比例</p>
                                    <p>（日均销量）</p>
                                </td>
                                <td><span class="text-num">9</span>‰</td>
                                <td><span class="text-num">19</span>‰</td>
                                <td><span class="text-num">39</span>‰</td>
                            </tr>
                    </table>
                    <table class="table table-2">
                        <tr>
                            <td colspan="8" class="tb-title">派奖计算范例请见下表</td>
                        </tr>
                        <tr>
                            <td>用户</td>
                            <td>第1天</td>
                            <td>第2天</td>
                            <td>第3天</td>
                            <td>第4天</td>
                            <td>第5天</td>
                            <td>第6天</td>
                            <td>第7天</td>
                        </tr>
                        <tr>
                            <td>用户A</td>
                            <td>1000</td>
                            <td>250</td>
                            <td>0</td>
                            <td>5000</td>
                            <td>250</td>
                            <td>50</td>
                            <td>0</td>
                        </tr>
                    </table>
                    <div class="example">
                        <div class="example-title">例：</div>
                        <div class="example-content">
                            <p>用户A最大连续签到3天，平均销量为6550/7=935.71，奖金=935.71*9‰=8.42</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="act-rule">
                <div class="title"><div class="title-text"></div></div>
                <div class="text-content">
                    <ul>
                        <li>活动返奖，参与游戏只限于凤凰娱乐旗舰版腾讯分分彩彩种。 </li>
                        <li>投注必须为已开奖注单，视为有效投注，奖励计算依据用户在活动期间内的有效投注量审核计算。 </li>
                        <li>本次活动采取报名制，用户需要点击"立即报名" 后才能获取活动奖金。凤凰娱乐旗舰版平台≥51级用户自动报名。</li>
                        <li>第一期签到奖金于2018年2月21日派发； 第二期签到奖金于2018年2月28日派发。 </li>
                        <li>活动期间禁止任何作弊行为，一经发现平台将取消参与活动资格，严重者将作冻结账号处理。 </li>
                        <li>凤凰平台保留活动最终解释权。</li>
                    </ul>
                </div>
            </div>
            <div class="copyright">&copy;2003-2018 凤凰娱乐 All Rights Reserved</div>
        </div>
    </div>
    <script src="//static.phl58.co/static/js/phoenix.ga.js" async=""></script>
</body>
</html>