<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main">
        <div class="main-body">
            <div class="logo">
                <a href="#"><img src="./images/logo.png" alt="logo"></a>
            </div>
            <div class="gift">
                <div class="gift-title"></div>
                <div class="list">
                    <div class="list-gift">
                        <div class="gift gift-1"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-2"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-3"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-4"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-5"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-6"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-7"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-8"></div>
                    </div>
                    <div class="list-gift">
                        <div class="gift gift-9"></div>
                    </div>
                </div>
            </div>
            <div class="act-time">
                <div class="time-title">
                    <div class="time-text"></div>
                </div>
                <div class="time"></div>
            </div>
            <div class="act-rule">
                <div class="rule-title">
                    <div class="rule-text"></div>
                </div>
                <div class="rule"></div>
            </div>
            <div class="entrance">
                <a href="" class="btn">
                    <span class="btn-text"></span>
                    <span class="btn-text hover"></span>
                </a>
            </div>
            <div class="copyright">&copy;2003-2018 凤凰娱乐 All Rights Reserved</div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script src="//static.phl58.co/static/js/phoenix.ga.js" async=""></script>
</body>
</html>