/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

body {
  font-family: "PingFangSC", "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Wenquanyi Micro Hei", sans-serif;
}

.qrcode-fixed-block {
  z-index: 1;
  position: fixed;
  right: 50px;
  top: 300px;
  width: 160px;
  height: 190px;
  text-align: center;
}

.qrcode-fixed-block .qrcode-block {
  position: relative;
  width: 100%;
  height: 160px;
}

.qrcode-fixed-block .qrcode-block .qrcode {
  z-index: 10;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 105px;
  height: 105px;
  background-image: url(../images/qrcode.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #ff0006;
}

.qrcode-fixed-block .qrcode-block::before {
  content: '';
  z-index: 5;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 135px;
  height: 135px;
  background-color: #ff0006;
  transform: rotate(350deg) scale(1);
  -ms-transform: rotate(350deg) scale(1);
  -webkit-transform: rotate(350deg) scale(1);
  animation: rotate1 3s infinite ease-out;
  -webkit-animation: rotate1 3s infinite ease-out;
}

.qrcode-fixed-block .qrcode-block::after {
  content: '';
  z-index: 4;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 135px;
  height: 135px;
  background-color: rgba(255, 0, 6, 0.3);
  transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  animation: rotate2 3s infinite ease-out;
  -webkit-animation: rotate2 3s infinite ease-out;
}

.qrcode-fixed-block .text {
  width: 100%;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #ff0006;
}

.main {
  position: relative;
  width: 100%;
  height: 3892px;
  min-width: 1000px;
  background: url(../images/bg.jpg) no-repeat center top;
}

.main .main-body {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-top: 74px;
}

.main .main-body .logo {
  width: 100%;
  height: 80px;
}

.main .main-body .logo a {
  display: block;
  width: 280px;
  height: 80px;
  margin: 0 auto;
}

.main .main-body .act-time {
  width: 800px;
  margin: 0 auto;
  margin-top: 1000px;
}

.main .main-body .act-time .title {
  width: 365px;
  height: 80px;
  padding-top: 30px;
  padding-left: 74px;
  margin-left: 213px;
  background: url(../images/title-bg.png) no-repeat center top;
}

.main .main-body .act-time .title .title-text {
  width: 207px;
  height: 54px;
  background: url(../images/title-text-1.png) no-repeat center top;
}

.main .main-body .act-time .text-content {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color: #363636;
  line-height: 60px;
}

.main .main-body .act-time .text-content span.red-text {
  color: #ff0006;
}

.main .main-body .act-detail {
  width: 800px;
  margin: 0 auto;
  margin-top: 70px;
}

.main .main-body .act-detail .title {
  width: 365px;
  height: 80px;
  padding-top: 30px;
  padding-left: 74px;
  margin-left: 213px;
  background: url(../images/title-bg.png) no-repeat center top;
}

.main .main-body .act-detail .title .title-text {
  width: 213px;
  height: 56px;
  background: url(../images/title-text-2.png) no-repeat center top;
}

.main .main-body .act-detail .text-content {
  margin-top: 15px;
  text-align: left;
  font-size: 30px;
  color: #363636;
  line-height: 48px;
}

.main .main-body .act-detail .text-content span.red-text {
  color: #ff0006;
}

.main .main-body .act-detail .text-content .table {
  width: 100%;
  margin-top: 30px;
  font-size: 30px;
  line-height: 40px;
  border-spacing: 5px;
  border-collapse: separate;
}

.main .main-body .act-detail .text-content .table td {
  width: auto;
  height: 90px;
  line-height: 90px;
  color: #040105;
  font-size: 30px;
  text-align: center;
  background-color: rgba(4, 1, 5, 0.1);
}

.main .main-body .act-detail .text-content .table td span.text-num {
  font-size: 40px;
}

.main .main-body .act-detail .text-content .table td.tb-title {
  font-size: 40px;
  font-weight: bold;
}

.main .main-body .act-detail .text-content .table td.two-line {
  height: 85px;
  padding-top: 5px;
  line-height: 40px;
  vertical-align: top;
}

.main .main-body .act-detail .text-content .table td[rowspan='2'] {
  line-height: 40px;
  vertical-align: middle;
}

.main .main-body .act-detail .text-content .table-2 tr td:nth-child(1) {
  width: 135px;
}

.main .main-body .act-detail .text-content .example {
  clear: both;
  width: 100%;
  height: 80px;
  font-size: 30px;
  line-height: 40px;
  color: #ff0006;
}

.main .main-body .act-detail .text-content .example .example-title {
  float: left;
  width: 7%;
}

.main .main-body .act-detail .text-content .example .example-content {
  float: left;
  width: 93%;
}

.main .main-body .act-rule {
  width: 800px;
  margin: 0 auto;
  margin-top: 165px;
}

.main .main-body .act-rule .title {
  width: 365px;
  height: 80px;
  padding-top: 30px;
  padding-left: 74px;
  margin-left: 213px;
  background: url(../images/title-bg.png) no-repeat center top;
}

.main .main-body .act-rule .title .title-text {
  width: 213px;
  height: 56px;
  background: url(../images/title-text-3.png) no-repeat center top;
}

.main .main-body .act-rule .text-content {
  width: 760px;
  padding-left: 40px;
  margin-top: 15px;
}

.main .main-body .act-rule .text-content ul {
  width: 100%;
  list-style-type: decimal;
}

.main .main-body .act-rule .text-content ul li {
  font-size: 30px;
  line-height: 48px;
  color: #363636;
}

.main .main-body .act-rule .text-content ul li + li {
  margin-top: 25px;
}

.main .main-body .copyright {
  width: 100%;
  height: 12px;
  margin-top: 230px;
  font-size: 12px;
  text-align: center;
  color: #220000;
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(170deg) scale(1);
    transform: rotate(170deg) scale(1);
  }

  5% {
    -webkit-transform: rotate(170deg) scale(1.2);
    transform: rotate(170deg) scale(1.2);
  }

  7% {
    -webkit-transform: rotate(170deg) scale(1.2);
    transform: rotate(170deg) scale(1.2);
  }

  45% {
    -webkit-transform: rotate(-10deg) scale(1.2);
    transform: rotate(-10deg) scale(1.2);
  }

  47% {
    -webkit-transform: rotate(-10deg) scale(1.2);
    transform: rotate(-10deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(-10deg) scale(1);
    transform: rotate(-10deg) scale(1);
  }
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(170deg) scale(1);
  }

  5% {
    -webkit-transform: rotate(170deg) scale(1.2);
  }

  7% {
    -webkit-transform: rotate(170deg) scale(1.2);
  }

  45% {
    -webkit-transform: rotate(-10deg) scale(1.2);
  }

  47% {
    -webkit-transform: rotate(-10deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(-10deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(-10deg) scale(1);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  5% {
    -webkit-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2);
  }

  7% {
    -webkit-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2);
  }

  45% {
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }

  47% {
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }

  5% {
    -webkit-transform: rotate(0deg) scale(1.2);
  }

  7% {
    -webkit-transform: rotate(0deg) scale(1.2);
  }

  45% {
    -webkit-transform: rotate(180deg) scale(1.2);
  }

  47% {
    -webkit-transform: rotate(180deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(180deg) scale(1);
  }
}
