/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

body {
  position: relative;
  width: 100%;
  min-width: 1200px;
  font-family: "Lantinghei SC", "PingFangSC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
}

.triangle {
  position: absolute;
  width: 82px;
  height: 75px;
  background: url(../images/triangle.png) no-repeat center top;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.btn-singup {
  display: block;
  width: 170px;
  height: 165px;
  background: url(../images/btn-singup-over.png) no-repeat center top;
}

.btn-singup.singup {
  background: url(../images/btn-singup.png) no-repeat center top;
}

.btn-singup.singup-done {
  background: url(../images/btn-singup-done.png) no-repeat center top;
}

.btn-singup.singup-done-play {
  background: url(../images/btn-singup-done-play.png) no-repeat center top;
}

.btn-singup.singup-over {
  background: url(../images/btn-singup-end.png) no-repeat center top;
}

.btn-open-rule {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: url(../images/btn-open-rule.png) no-repeat center top;
}

.page {
  position: relative;
  width: 100%;
  height: 3821px;
  background: url(../images/bg.jpg) no-repeat center top;
}

.page .page-body {
  position: relative;
  width: 1200px;
  height: inherit;
  margin: 0 auto;
}

.page .page-body .page-logo {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 30px;
  width: 238px;
  height: 88px;
}

.page .page-body .page-logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.page .page-body .title {
  width: 1200px;
  height: 654px;
  background: url(../images/title-bg1.png) no-repeat center top;
}

.page .page-body .act-1 {
  width: 1200px;
  height: 975px;
  padding-top: 238px;
  background: url(../images/act1-bg-n.png) no-repeat center top;
}

.page .page-body .act-1 .cards {
  position: relative;
  width: inherit;
  height: 295px;
}

.page .page-body .act-1 .cards .card1 {
  position: absolute;
  top: 20px;
  left: 94px;
  width: 319px;
  height: 215px;
  background: url(../images/card1-on.png) no-repeat center top;
}

.page .page-body .act-1 .cards .card2 {
  opacity: 0.4;
  position: absolute;
  top: 38px;
  left: 446px;
  width: 308px;
  height: 210px;
  background: url(../images/card2.png) no-repeat center top;
}

.page .page-body .act-1 .cards .card3 {
  opacity: 0.4;
  position: absolute;
  top: 72px;
  left: 805px;
  width: 319px;
  height: 225px;
  background: url(../images/card3.png) no-repeat center top;
}

.page .page-body .act-1 .cards .triangle {
  top: -2px;
  left: 230px;
}

.page .page-body .act-1 .act1-body {
  position: relative;
  width: inherit;
  height: 315px;
}

.page .page-body .act-1 .act1-body .title-text {
  position: absolute;
  top: 70px;
  left: 90px;
  width: 206px;
  height: 33px;
  background: url(../images/act1-text1.png) no-repeat center top;
}

.page .page-body .act-1 .act1-body .title-subtext {
  position: absolute;
  top: 75px;
  left: 335px;
  width: 293px;
  height: 26px;
  background: url(../images/act1-text2.png) no-repeat center top;
}

.page .page-body .act-1 .act1-body .text-body {
  position: absolute;
  top: 143px;
  left: 82px;
  width: 846px;
  height: 131px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  color: #f2f6c1;
  background: url(../images/act1-text-bg.png) no-repeat center top;
}

.page .page-body .act-1 .act1-body .text-body ul {
  padding-left: 30px;
  list-style-type: decimal;
}

.page .page-body .act-1 .act1-body .text-body ul li {
  padding: 0px 10px;
  line-height: 30px;
}

.page .page-body .act-1 .act1-body .act1-singup {
  position: absolute;
  top: 10px;
  right: 144px;
}

.page .page-body .act-1 .act1-body .btn-open-rule {
  position: absolute;
  top: 170px;
  right: 110px;
}

.page .page-body .act-1 .envelopes {
  width: 834px;
  height: 365px;
  padding-left: 380px;
  background: url(../images/envelopes.png) no-repeat center top;
}

.page .page-body .act2 {
  position: relative;
  width: 1200px;
  height: 1016px;
  background: url(../images/act2-bg.png) no-repeat center top;
}

.page .page-body .act2 .title-text {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 262px;
  height: 72px;
  background: url(../images/act2-text-title.png) no-repeat center top;
}

.page .page-body .act2 .title-subtext {
  position: absolute;
  top: 70px;
  left: 330px;
  width: 420px;
  height: 27px;
  background: url(../images/act2-text-sub.png) no-repeat center top;
}

.page .page-body .act2 .taps {
  z-index: 10;
  position: absolute;
  top: 158px;
  left: 100px;
  width: 600px;
  height: 90px;
}

.page .page-body .act2 .taps .taps-btn {
  float: left;
  position: relative;
  width: 186px;
  height: 73px;
}

.page .page-body .act2 .taps .taps-btn div {
  position: absolute;
  top: 0;
  left: 0;
  width: 186px;
  height: 73px;
}

.page .page-body .act2 .taps .taps-btn.btn1 .btn-act {
  background: url(../images/act2-btn-a1-act.png) no-repeat center bottom;
}

.page .page-body .act2 .taps .taps-btn.btn1 .btn-show {
  cursor: pointer;
  background: url(../images/act2-btn-a1.png) no-repeat center bottom;
  background-size: 98% auto;
}

.page .page-body .act2 .taps .taps-btn.btn2 {
  margin-left: 30px;
}

.page .page-body .act2 .taps .taps-btn.btn2 .btn-act {
  display: none;
  background: url(../images/act2-btn-a2-act.png) no-repeat center bottom;
}

.page .page-body .act2 .taps .taps-btn.btn2 .btn-show {
  cursor: pointer;
  background: url(../images/act2-btn-a2.png) no-repeat center bottom;
  background-size: 98% auto;
}

.page .page-body .act2 .act2-body {
  z-index: 50;
  position: absolute;
  top: 223px;
  width: 1000px;
  height: 440px;
  padding: 50px 100px 100px 100px;
  background: url(../images/act2-body-bg.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block {
  position: relative;
  width: 1000px;
  height: 440px;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content {
  position: relative;
  width: 100%;
  height: 100%;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-title-text {
  width: 918px;
  height: 52px;
  background: url(../images/act2-a1-title-text.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-show-date {
  width: 103px;
  height: 77px;
  margin-top: 60px;
  padding-top: 12px;
  padding-left: 5px;
  background: url(../images/act2-a1-date.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-show-date .today {
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  color: #fff;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-get-prize {
  width: 302px;
  height: 279px;
  margin-left: 375px;
  margin-top: -25px;
  background: url(../images/act2-a1-coin.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-get-prize .coin {
  position: relative;
  display: block;
  width: 222px;
  height: 139px;
  padding-top: 101px;
  text-decoration: none;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-get-prize .coin .money {
  width: 222px;
  height: 50px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #600012;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-get-prize .coin .show-text {
  width: 222px;
  height: 64px;
  margin-top: 13px;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 60px;
  color: #fff000;
  background-color: #600012;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-1 .content .a1-get-prize .coin .get-money {
  display: none;
  position: absolute;
  top: -80px;
  width: 240px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #cab3d7;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content {
  position: relative;
  padding-top: 70px;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-title {
  width: 100%;
  height: 109px;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-title.state1 {
  background: url(../images/act2-a2-title.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-title.state2 {
  background: url(../images/act2-a2-title2.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-show-money {
  width: 355px;
  height: 80px;
  padding-top: 17px;
  margin: 0 auto;
  margin-top: 25px;
  line-height: 80px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #d90008;
  background: url(../images/act2-a2-show-money.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar {
  position: relative;
  width: 100%;
  height: 115px;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .bar-title {
  position: absolute;
  width: 53px;
  height: 62px;
  top: 45px;
  left: 10px;
  background: url(../images/act2-a2-text.png) no-repeat center top;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .bar-line {
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 110px;
  width: 725px;
  height: 40px;
  border-bottom: 1px solid #685273;
  border-radius: 20px;
  background: #360009;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .bar-line .bar-line-inside {
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 40px;
  left: 0;
  top: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
  background: #ffcb40;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .now-num,
                .page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .start-num,
                .page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .end-num {
  position: absolute;
  font-size: 28px;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .start-num {
  top: 55px;
  left: 80px;
  color: #ffffff;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .end-num {
  top: 55px;
  left: 845px;
  color: #ffffff;
}

.page .page-body .act2 .act2-body .act2-tap-block .tapbody-2 .content .a2-money-bar .now-num {
  top: 100px;
  left: 585px;
  color: #ffee3d;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.page .page-body .act2 .btn-open-rule {
  z-index: 51;
  position: absolute;
  top: 270px;
  right: 110px;
}

.page .page-body .act2 .act2-line {
  position: absolute;
  bottom: 183px;
  left: 320px;
  width: 22px;
  height: 61px;
  background: url(../images/act2-line.png) no-repeat center top;
}

.page .page-body .act2 .act2-singup {
  position: absolute;
  top: 35px;
  right: 144px;
}

.page .page-body .act2 .act2-deposit {
  position: absolute;
  bottom: 18px;
  left: 245px;
  width: 170px;
  height: 165px;
  background: url(../images/btn-deposit.png) no-repeat center top;
}

.page .page-body .act2 .act2-deposit.unable {
  background: url(../images/btn-deposit-unable.png) no-repeat center top;
}

.page .page-body .act2 .act2-play {
  display: none;
  position: absolute;
  bottom: 18px;
  left: 245px;
  width: 170px;
  height: 165px;
  background: url(../images/btn-play.png) no-repeat center top;
}

.page .page-body .act2 .act2-play.unable {
  background: url(../images/btn-play-unable.png) no-repeat center top;
}

.page .page-body .act2 .triangle {
  top: -33px;
  right: 185px;
}

.page .page-body .act3 {
  position: relative;
  width: 1200px;
  height: 836px;
  background: url(../images/act3-bg.png) no-repeat center top;
}

.page .page-body .act3 .ac3-game-title {
  position: absolute;
  top: 30px;
  left: 335px;
  width: 684px;
  height: 168px;
  font-size: 28px;
  font-weight: bold;
  color: #8a0400;
  background: url(../images/act3-game-title.png) no-repeat center top;
}

.page .page-body .act3 .ac3-game-title .time1-text {
  position: absolute;
  top: 75px;
  left: 178px;
}

.page .page-body .act3 .ac3-game-title .time1-text .gray {
  margin-top: 25px;
  color: #bdb337;
}

.page .page-body .act3 .ac3-game-title .time2-text {
  display: none;
  position: absolute;
  top: 22px;
  left: 178px;
}

.page .page-body .act3 .ac3-game-title .time2-text .gray {
  margin-bottom: 25px;
  color: #bdb337;
}

.page .page-body .act3 .game-timer {
  position: absolute;
  top: 425px;
  left: 115px;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
}

.page .page-body .act3 .game-timer .time-counter {
  margin-top: 10px;
  color: #ffee3d;
  font-size: 48px;
}

.page .page-body .act3 .wheel-game {
  position: absolute;
  top: 250px;
  left: 360px;
  width: 600px;
  height: 600px;
}

.page .page-body .act3 .wheel-game .game-body {
  position: relative;
}

.page .page-body .act3 .wheel-game .game-body .wheel {
  position: absolute;
  width: 538px;
  height: 538px;
  background-image: url(../images/act3-wheel-1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.page .page-body .act3 .wheel-game .game-body .wheel.run {
  -webkit-animation: rotate 30s linear infinite;
  animation: rotate 30s linear infinite;
}

.page .page-body .act3 .wheel-game .game-body .wheel.go {
  -webkit-animation: rotate 0.66s linear infinite;
  animation: rotate 0.66s linear infinite;
}

.page .page-body .act3 .wheel-game .game-body .wheel-center {
  z-index: 11;
  position: absolute;
  left: 175px;
  top: 180px;
  width: 133px;
  height: 139px;
  padding-left: 55px;
  padding-top: 40px;
  background: url(../images/act3-wheel-center.png) no-repeat center top;
  background-size: 100% auto;
}

.page .page-body .act3 .wheel-game .game-body .wheel-center .center-text {
  width: 80px;
  height: 80px;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 3px;
  color: #f5f510;
  text-align: center;
}

.page .page-body .act3 .wheel-game .game-body .point {
  z-index: 11;
  position: absolute;
  top: -10px;
  left: 240px;
  width: 58px;
  height: 77px;
  background: url(../images/act3-pointer.png) no-repeat center top;
  background-size: 100% auto;
}

.page .page-body .act3 .wheel-game .game-body .light {
  display: none;
  z-index: 10;
  position: absolute;
  top: 18px;
  left: 180px;
  width: 177px;
  height: 213px;
  background: url(../images/act3-light.png) no-repeat center top;
  background-size: 100% auto;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

.page .page-body .act3 .get-message {
  display: none;
  z-index: 13;
  position: absolute;
  top: 192px;
  left: 725px;
  font-size: 24px;
  line-height: 30px;
  color: #cab3d7;
}

.page .page-body .act3 .get-message .win .gift-link-msg {
  display: none;
}

.page .page-body .act3 .get-message .win .gift-link-msg a {
  color: #cab3d7;
}

.page .page-body .act3 .get-message .thanks {
  display: none;
}

.page .page-body .act3 .triangle {
  left: 185px;
}

.page .page-body .act3 .btn-open-rule {
  position: absolute;
  right: 100px;
  top: 50px;
}

.page .page-body .copyright {
  width: 1200px;
  height: 15px;
  margin-top: 55px;
  background: url(../images/copyright-.png) no-repeat center top;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.pop-block {
  display: none;
  z-index: 101;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.pop-block .pop-content {
  position: relative;
  width: 866px;
  height: 755px;
  left: 50%;
  margin-left: -433px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #530b81;
}

.pop-block .pop-content .pop-title {
  position: relative;
  width: 100%;
  height: 90px;
  font-size: 36px;
  line-height: 90px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #530b81;
  background-color: #623871;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.pop-block .pop-content .pop-title .pop-close {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url(../images/btn-close.png) no-repeat center top;
  background-size: 100% auto;
}

.pop-block .pop-content .pop-main {
  position: relative;
  height: 100%;
}

.pop-block .pop-content .pop-main .rules {
  font-size: 24px;
  padding: 50px 30px;
}

.pop-block .pop-content .pop-main .rules .act-date {
  color: #684378;
  line-height: 35px;
}

.pop-block .pop-content .pop-main .rules .act-title {
  margin-top: 30px;
  color: #684378;
}

.pop-block .pop-content .pop-main .rules .rule-text {
  overflow-y: auto;
  width: 800px;
  height: 465px;
  margin-top: 50px;
  color: #a9983b;
  font-size: 18px;
  line-height: 26px;
}

.pop-block .pop-content .pop-main .rules .rule-text ul {
  padding-left: 30px;
  list-style-type: decimal;
}

.pop-block .pop-content .pop-main .rules .rule-text ul li {
  padding: 0px 5px;
  line-height: 26px;
}

.pop-block .pop-content .pop-main .rules .rule-text .text-title {
  color: #684378;
  margin: 20px 0;
}

.pop-block .pop-content .pop-main .rules .rule-text .text-subtitle {
  margin: 20px 0;
  color: #9f229d;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table {
  width: 100%;
  margin-top: 10px;
  color: #684378;
  line-height: 26px;
  border-collapse: collapse;
  border: 1px solid #623871;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table tr.title-table > td {
  text-align: center;
  padding-left: 0px;
  padding: 10px 0px;
  color: #fff;
  background-color: #623871;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table td {
  padding: 30px 40px;
  border: 1px solid #623871;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table td.text-center {
  text-align: center;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table td .text-red {
  color: #9e0500;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  border-collapse: collapse;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table2 .td-title {
  background-color: #623871;
  padding-top: 5px;
  line-height: 35px;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table2 td {
  border: 1px solid #fff;
  padding: 5px 0px;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table2 tr:nth-child(odd) {
  background-color: #aa86bd;
}

.pop-block .pop-content .pop-main .rules .rule-text .rule-table2 tr:nth-child(even) {
  background-color: #d4aaea;
}

.pop-block .pop-content .pop-main .rules.rule1, .pop-block .pop-content .pop-main .rules.rule2, .pop-block .pop-content .pop-main .rules.rule3 {
  display: none;
}

.pop-block .pop-content .pop-main .rules.rule1 .rule-text {
  margin-top: 20px;
}

.qrcode {
  z-index: 100;
  position: fixed;
  top: 100px;
  right: 50px;
  width: 257px;
  height: 212px;
  background: url(../images/qrcode.png) no-repeat center top;
}

.qrcode .qrcode-img {
  position: fixed;
  top: 113px;
  right: 110px;
  width: 134px;
  height: 133px;
  background: url(../images/qrcode-img.png) no-repeat center top;
}
