/*css reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul,li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption,footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure,footer,header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul{list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: "";content: none;}

body
{
    position: relative;
    width: 100%;
    font-family: "Lantinghei SC","PingFangSC","Helvetica Neue", Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
}
.triangle {
    position: absolute;
    width: 7.76vw;
    height: 7.1vw;
    background: url(../images/triangle.png)no-repeat center top;
    background-size: 100% auto;
}
.btn-singup {

    width: 22.36vw;
    height: 21.71vw;
    
    background: url(../images/btn-singup-over.png)no-repeat center top;
    background-size: 100% auto;
    &.singup {
        background: url(../images/btn-singup.png)no-repeat center top;
        background-size: 100% auto;
    }
    &.singup-done {
        background: url(../images/btn-singup-done.png)no-repeat center top;
        background-size: 100% auto;
    }
    &.singup-done-play{
        background: url(../images/btn-singup-done-play.png)no-repeat center top;
        background-size: 100% auto;
    }
    &.singup-over{
        background: url(../images/btn-singup-end.png)no-repeat center top;
        background-size: 100% auto;
    }
}
.btn-open-rule {
    cursor: pointer;
    width: 4.73vw;
    height: 4.73vw;
    background: url(../images/btn-open-rule.png)no-repeat center top;
    background-size: 100% auto;
}

.page {
    width: 100%;

    height: 391.84vw;
    
    background: url(../images/bg-3.jpg)no-repeat center top;
    background-size: 100% auto;

    .page-body {
        position: relative;
        width: inherit;
        height: inherit;
        .page-logo {
            position: absolute;
            cursor: pointer;
    
            top: 2.44vw;
            left: 2.44vw;
    
            width: 21.31vw;
            height: 7.89vw;
    
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
    
        }

        .act-1 {
            width: 100%;
            height: 101.31vw;

            padding-top: 81.31vw;
            .cards {
                position: relative;

                width: inherit;
                height: 26.71vw;
                .card1 {
                    position: absolute;
                    top: 2.8vw;
                    left: 1.4vw;
                    width: 31.31vw;
                    height: 21.05vw;
                    background: url(../images/card1.png)no-repeat center top;
                    background-size: 100% auto;
                }
                .card2 {
                    position: absolute;
                    opacity: 0.4;
                    top: 2.8vw;
                    left: 36.2vw;
                    width: 29.73vw;
                    height: 19.21vw;
                    background: url(../images/card2.png)no-repeat center top;
                    background-size: 100% auto;
                }
                .card3 {
                    position: absolute;
                    opacity: 0.4;
                    top: 2vw;
                    right: 1vw;
                    width: 31.05vw;
                    height: 21.84vw;
                    background: url(../images/card3.png)no-repeat center top;
                    background-size: 100% auto;
                }
                .triangle {
                    top: 0.8vw;
                    left: 16.5vw;
                }
            }
            .act1-body {
                position: relative;
                width: inherit;
                height: 40vw;

                .text-body {
                    position: absolute;
                    top: 19vw;
                    left: 10.9vw;
                
                    width: 80vw;
                    height: 18.68vw;

                    background: url(../images/act1-text.png)no-repeat center top;
                    background-size: 100% auto;
                    
                }
                
                .act1-singup {
                    position: absolute;
                    top: -1.4vw;
                    right: 5vw;
                }
                .btn-open-rule {
                    position: absolute;
                    top: 18.4vw;
                    right: 3vw;
                }
                .triangle {
                    top: -4.4vw;
                    right: 12vw;
                }
            }
            .envelopes {
                margin-left: 10vw;
                width: 80vw;
                height: 35.52vw;

                background: url(../images/envelopes.png)no-repeat center top;
                background-size: 100% auto;
            }
        }
        .act2 {
            position: relative;
            width: 100%;
            height: 98.15vw;
            
            .taps {
                z-index: 10;
                position: absolute;
                top: 13.42vw;
                left: 5.26vw;
                
                width: 39.47vw;
                height: 6.18vw;
                .taps-btn {
                    float: left;
                    position: relative;
                    width: 16.97vw;
                    height: 6.18vw;
                    div {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16.97vw;
                        height: 6.18vw;
                    }
                    &.btn1 {
                        .btn-act {
                            background: url(../images/act2-tap1-active.png)no-repeat center bottom;
                            background-size: 100% auto;
                        }
                        .btn-show {
                            cursor: pointer;
                            background: url(../images/act2-tap1.png)no-repeat center bottom;
                            background-size: 100% auto;
                        }
                    }
                    &.btn2 {
                        margin-left: 1.97vw;;
                        .btn-act {
                            display: none;
                            background: url(../images/act2-tap2-active.png)no-repeat center bottom;
                            background-size: 100% auto;
                        }
                        .btn-show {
                            cursor: pointer;
                            background: url(../images/act2-tap2.png)no-repeat center bottom;
                            background-size: 100% auto;
                        }
                    }
                }
            }
            .act2-body {
                z-index: 50;
                position: absolute;
                top: 18.83vw;
                width: 100vw;
                height: 52.63vw;
                background: url(../images/act2-bg.png)no-repeat center top;
                background-size: 100% auto;
                .act2-tap-block {
                    position: relative;
                    width: 93.42vw;
                    margin: 0 auto;
                    margin-top: 3vw;
                    height: 44.07vw;
                    .tapbody-1 {
                        
                        position: absolute;
                        width: 100%;
                        height: 100%; //background: url(../images/act2-a1-bg.png)no-repeat left top;
                        .content {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .a1-title-text {
                                width: 80.13vw;
                                height: 5.52vw;
                                margin: 0 auto;
                                margin-top: 3vw;
                                background: url(../images/act2-a1-title.png)no-repeat center top;
                                background-size: 100% auto;
                            }
                            .a1-show-date {
                                width: 13.55vw;
                                height: 10.13vw;
                                margin-top: 7.89vw;
                                margin-left: 7.89vw;
                                padding-top: 1.57vw;;
                                padding-left: 0.65vw;;
                                background: url(../images/act2-a1-date.png)no-repeat center top;
                                background-size: 100% auto;
                                .today {
                                    width: 7.89vw;
                                    height: 6.57vw;
                                    line-height: 6.57vw;
                                    text-align: center;
                                    font-size: 5.26vw;
                                    font-weight: bold;
                                    color: #fff;
                                }
                            }
                            .a1-get-prize {
                                width: 27.63vw;
                                height: 25.52vw;
                                margin-left: 37.34vw;
                                margin-top: -12vw;
                                background: url(../images/act2-a1-coin.png)no-repeat center top;
                                background-size: 100% auto;
                                .coin {
                                    position: relative;
                                    display: block;
                                    width: 20.13vw;
                                    height: 11.13vw;
                                    padding-top: 9vw;
                                    text-decoration: none;
                                    .money {
                                        width: 20.13vw;
                                        height: 5.26vw;
                                        margin: 0 auto;
                                        font-size: 5.26vw;
                                        font-weight: bold;
                                        text-align: center;
                                        color: #600012;
                                    }
                                    .show-text {
                                        width: 20.13vw;
                                        height: 5.92vw;
                                        margin-top: 0.5vw;
                                        text-align: center;
                                        font-weight: bold;
                                        font-size: 3.15vw;
                                        line-height: 5.92vw;
                                        color: #fff000;
                                        background-color: #600012;
                                    }
                                    .get-money {
                                        display: none;
                                        position: absolute;
                                        top: -8vw;
                                        left: -2vw;
                                        width: 27vw;
                                        text-align: center;
                                        font-size: 3.15vw;
                                        line-height: 3.94vw;
                                        color: #cab3d7;
                                    }
                                }
                            }
                        }
                    }
                    .tapbody-2 {
                        
                        position: absolute;
                        width: 100%;
                        height: 100%; //background: url(../images/act2-a2-bg.png)no-repeat center top;
                        .content {
                            position: relative;
                            padding-top: 6.57vw;
                            .a2-title {
                                width: 100%;
                                height: 9.84vw;
                                &.state1 {
                                    background: url(../images/act2-a2-title.png)no-repeat center top;
                                    background-size: auto 100%;
                                }
                                &.state2 {
                                    background: url(../images/act2-a2-title2.png)no-repeat center top;
                                    background-size: auto 100%;
                                }
                            }
                            .a2-show-money {
                                width: 33.18vw;
                                height: 6.98vw;
                                padding-top: 2.28vw;
                                margin: 0 auto;
                                margin-top: 1.97vw;
                                line-height: 6.98vw;
                                font-size: 5.78vw;
                                font-weight: bold;
                                text-align: center;
                                color: #d90008;
                                background: url(../images/act2-a2-show-money.png)no-repeat center top;
                                background-size: 100% auto;
                            }
                            .a2-money-bar {
                                position: relative;
                                width: 100%;
                                height: 115px;
                                .bar-title {
                                    position: absolute;
                                    width: 5vw;
                                    height: 5.52vw;
                                    top: 3.94vw;
                                    left: 1vw;
                                    background: url(../images/act2-a2-text.png)no-repeat center top;
                                    background-size: 100% auto;
                                }
                                .bar-line {
                                    position: absolute;
                                    overflow: hidden;
                                    top: 4.6vw;
                                    left: 12vw;
                                    width: 66.57vw;
                                    height: 4.07vw;
                                    border-bottom: 1px solid #685273;
                                    border-radius: 20px;
                                    background: #360009;
                                    .bar-line-inside {
                                        position: absolute;
                                        overflow: hidden;
                                        width: 10vw;
                                        height: 4.07vw;
                                        left: 0;
                                        top: 0;
                                        border-radius: 1.57vw;
                                        border-bottom-right-radius: 0;
                                        border-top-right-radius: 0;
                                        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
                                        background: #ffcb40;
                                    }
                                }
                                .now-num,
                                .start-num,
                                .end-num {
                                    position: absolute;
                                    font-size: 2.36vw;
                                }
                                .start-num {
                                    top: 5.26vw;
                                    left: 8vw;
                                    color: #ffffff;
                                }
                                .end-num {
                                    top: 5.26vw;
                                    left: 80vw;
                                    color: #ffffff;
                                }
                                .now-num {
                                    top: 10.26vw;
                                    // 10vw
                                    left: 10vw;
                                    color: #ffee3d;
                                    font-weight: bold;
                                    text-shadow: 1px 1px rgba(0, 0, 0, .5);
                                }
                            }
                        }
                    }
                }
            }
            .btn-open-rule {
                z-index: 51;
                position: absolute;
                top: 21vw;
                right: 4vw;
            }
            .act2-line {
                position: absolute;
                bottom: 24vw;
                left: 29vw;
                width: 1.97vw;
                height: 5.63vw;
                background: url(../images/act2-line.png)no-repeat center top;
                background-size: 100% auto;
            }
            .act2-singup {
                position: absolute;
                top: -1vw;
                right: 1vw;            
            }
            .act2-deposit {
                position: absolute;
                bottom: 4vw;
                left: 19vw;
                width: 22.36vw;
                height: 21.71vw;
                background: url(../images/btn-deposit.png)no-repeat center top;
                background-size: 100% auto;
                &.unable {
                    background: url(../images/btn-deposit-unable.png)no-repeat center top;
                    background-size: 100% auto;
                }
            }
            .act2-play {
                display: none;
                position: absolute;
                bottom: 4vw;
                left: 19vw;
                width: 22.36vw;
                height: 21.71vw;
                background: url(../images/btn-play.png)no-repeat center top;
                background-size: 100% auto;
                &.unable {
                    background: url(../images/btn-play-unable.png)no-repeat center top;
                    background-size: 100% auto;
                }
            }
            
        }
        .act3 {
            position: relative;
            width: 100%;
            height: 103.68vw;
            overflow-x: hidden;

            .ac3-game-title {
                position: absolute;
                top: 2.94vw;
                left: 32vw;

                width: 55vw;
                height: 25.13vw;

                font-size: 3.42vw;
                font-weight: bold;
                color: #8a0400;

                background: url(../images/act3-game-title.png)no-repeat center top;
                background-size: 100% auto;

                .time1-text {
                    
                    position: absolute;
                    top: 8.86vw;
                    left: 21.72vw;
                    .gray {
                        margin-top: 3.28vw;
                        color: #bdb337;
                        
                    }              

                }
                .time2-text {
                    display: none;
                    position: absolute;
                    top: 2.46vw;
                    left: 21.72vw;
                    .gray {
                        margin-bottom: 3.28vw;
                        color: #bdb337;
                        
                    }  
                }
                
            }
            .game-timer {
                position: absolute;
                top: 60.26vw;
                left: 6vw;

                color: #fff;
                font-weight: bold;
                font-size: 3.42vw;
                .time-counter {
                    margin-top: 1.31vw;
                    color: #ffee3d;
                    font-size: 5.52vw;
                }
            }

            .wheel-game {
                position: absolute;
                
                top: 35.89vw;
                left: 28.94vw;

                width: 67.10vw;
                height: 67.10vw;

                .game-body {
                    position: relative;
                    .wheel {
                        position: absolute;
                        
                        width: 62.89vw;
                        height: 62.89vw;
                        background-image: url(../images/act3-wheel-1.png);
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: 100% auto;
                        
                        &.run {
                            animation: rotate 30s linear infinite;
                        }
                        &.go {
                            animation: rotate 0.66s linear infinite;
                        }
                    }
                    .wheel-center {
                        //cursor: pointer;
                        z-index: 11;
                        position: absolute;
                        left: 20.6vw;
                        top: 21.2vw;                    
                        width: 22.63vw;
                        height: 21.57vw;
                        
                        
            
                        background: url(../images/act3-wheel-center.png) no-repeat center top;
                        background-size: 100% auto;
                        .center-text {
                            position: absolute;
                            top: 5.7vw;
                            left: 7.2vw;
                            width: 8.75vw;
                            height: 8.75vw;
                            font-weight: bold;
                            font-size: 3.94vw;
                            line-height: 4.2vw;
                            letter-spacing: 0.39vw;
                            color: #f5f510;
                            text-align: center;
                        }
                    }
                    .point {
                        z-index: 11;
                        position: absolute;
                        top: -2.6vw;
                        left: 27.5vw;
                        width: 8.81vw;
                        height: 11.31vw;
            
                        background: url(../images/act3-pointer.png) no-repeat center top;
                        background-size: 100% auto;
                    }
                    .light {
                        display: none;
                        z-index: 10;
                        position: absolute;
                        top: 2vw;
                        left: 21vw;
                        width: 21.71vw;
                        height: 24.73vw;
            
                        background: url(../images/act3-light.png) no-repeat center top;
                        background-size: 100% auto;
            
                        animation: blink 1s linear infinite;
                    }
                    
                }
            }
            .get-message {
                display: none;
                z-index: 13;
                position: absolute;
                top: 27vw;
                left: 11vw;        
                font-size: 3.15vw;
                line-height: 3.94vw;
                color: #cab3d7;
                .win {
                    //display: none;
                    .gift-link-msg {
                        //display: none;
                        a {
                            color: #cab3d7;
                        }
                    }
                }
                .thanks {
                    display: none;
                    font-size: 3.55vw;
                }
                

            }
            .triangle {
                top: -1vw;
                left: 12vw;
            }
            .btn-open-rule {
                position: absolute;
                right: 3vw;
                top: 6vw;
            }
        }
    }
}

@keyframes rotate {
    100% {
    transform: rotate(360deg);
    }
}
@keyframes blink {
    0% {opacity: 0.3;}
    50% {opacity: 1;}
    100% {opacity: 0.3;}
}

.pop-block {
    display: none;
    z-index: 101;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-content {
        position: relative;
        width: 91.05vw;
        //min-height: 500px;
        height: 124.34vw;
        margin: 0vw auto;
        background-color: #fff;
        border-radius: 2.63vw;
        border: 1px solid #530b81;
        .pop-title {
            position: relative;
            width: 100%;
            height: 11.84vw;
            font-size: 4.73vw;
            line-height: 11.84vw;
            color: #fff;
            text-align: center;
            border-bottom: 1px solid #530b81;
            background-color: #623871;
            border-top-left-radius: 2.1vw;
            border-top-right-radius: 2.1vw;

            .pop-close {
                position: absolute;
                cursor: pointer;
                top: 3.28vw;
                right: 3.94vw;
                width: 3.94vw;
                height: 3.94vw;

                background: url(../images/btn-close.png)no-repeat center top;
                background-size: 100% auto;
            }
        }
        .pop-main {
            position: relative;
            height: 100%;
            
            .rules {
                font-size: 3.15vw;
                padding: 6.57vw 3.94vw;
                .act-date {
                    color: #684378;
                }
                .act-title {
                    margin-top: 3.94vw;
                    color: #684378;
                }
                .rule-text {
                    overflow-y: auto;
                    width: 83.15vw;
                    height: 87.89vw;
                    margin-top: 3.28vw;
                    color: #a9983b;
                    
                    ul {
                        padding-left: 3.87vw;                        
                        list-style-type: decimal;
                        li {
                            padding: 0px 0.65vw;
                            line-height: 4.44vw;
                        }
                    }
                    .text-title {
                        color: #684378;
                        margin: 20px 0;
                    }

                    .text-subtitle {
                        margin: 20px 0;
                        color: #9f229d;
                    }
                    .rule-table {
                        width: 100%;
                        margin-top: 1.31vw;

                        color: #684378;
                        line-height: 3.94vw;

                        border-collapse:collapse;
                        border:1px solid #623871;
                        tr.title-table>td{
                            text-align: center;
                            padding-left: 0;
                            padding: 1.31vw 0 ;
                            color: #fff;
                            background-color: #623871;
                        }

                        td {
                            padding: 2.94vw 2.26vw;
                            border:1px solid #623871;

                            &.text-center {
                                text-align: center;
                            }

                            .text-red {
                                color: #9e0500;
                            }
                        }
                    }

                    .rule-table2 {
                        width: 100%;
                        margin-top: 3.31vw;
                        margin-bottom: 3.31vw;
                        text-align: center;
                        color: #fff;
                        font-size: 3.15vw;
                        line-height: 3.94vw;

                        border-collapse:collapse;
                        
                        .td-title {
                            background-color: #623871;
                            padding-top: 0.65vw;
                            line-height: 4.6vw;
                        }

                        td {
                            border:1px solid #fff;
                            padding: 0.65vw 0px;
                        }
                        
                        tr:nth-child(odd) {
                            background-color: #aa86bd;
                        }
                        tr:nth-child(even) {
                            background-color: #d4aaea;
                        }
                    }
                }

                &.rule1, &.rule2, &.rule3 {
                    display: none;
                }

                &.rule1 .rule-text {
                    margin-top: 4vw;
                }
            }
        }
    }
}