<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>连送7天，送完再送18888</title>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="pop-block">
        <div class="pop-content">
            <div class="pop-close"></div>
            <div class="pop-message">
                您不符合本次活动报名资格哦！
            </div>
        </div>
    </div>
    <div class="main">
        <a href="#" class="logo"></a>
        <div class="signup-body">
            <a href="javascript:" class="btn-signup" id="signup"><div class="text"></div></a>
            <a href="" class="btn-signuped"><div class="text"></div></a>
            <div class="over"></div>
            <div class="notyet"></div>
        </div>
        <div class="content-1">
            <div class="text-1">
                <p>2017年10月30日－2017年12月31日内注册的有过充值的用户，每日PK10销量累计≥100元，算作一次签到，次日即可获得签到奖金，签到从用户首投之日开始计算，首投之日起7日总销量≥2,000元，还可获得加送6‰的加奖奖金，加奖最高可拿18,888元！</p>
            </div>
            <div class="text-2">
                <table class="table">
                    <tr>
                        <td>连续签到</td>
                        <td>1天</td>
                        <td>2天</td>
                        <td>3天</td>
                        <td>4天</td>
                        <td>5天</td>
                        <td>6天</td>
                        <td>7天</td>
                    </tr>
                </table>
            </div>
            <div class="line"></div>
            <div class="text-3">
                <table class="table">
                    <tr>
                        <td>奖金</td>
                        <td>1元</td>
                        <td>1元</td>
                        <td>1元</td>
                        <td>2元</td>
                        <td>2元</td>
                        <td>2元</td>
                        <td>3元</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="content-2" id="content2">
            <div class="progress-body">
                <div class="progress">
                    <div class="bar bar-1">
                        <div class="num">
                            <span class="num-text text-1"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-2">
                        <div class="num">
                            <span class="num-text text-2"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-3">
                        <div class="num">
                            <span class="num-text text-3"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-4">
                        <div class="num">
                            <span class="num-text text-4"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-5">
                        <div class="num">
                            <span class="num-text text-5"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-6">
                        <div class="num">
                            <span class="num-text text-6"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="bar bar-7">
                        <div class="num">
                            <span class="num-text text-7"></span>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="progress-line"></div>
            </div>
            <div class="show-num-body num1">
                <div class="title"></div>
                <div class="num" id="longestDays">
                </div>
            </div>
            <div class="show-num-body num2">
                <div class="title"></div>
                <div class="num" id="money">
                </div>
            </div>
        </div>
        <div class="content-3">
            <div class="rule">
                <ul>
                    <li>活动返奖, 参与游戏只限于凤凰娱乐旗舰版PK10彩种。</li>
                    <li>活动参与对象只限活动期间内注册且有过充值的用户。</li>
                    <li>投注必须为已开奖注单，视为有效投注，奖励计算依据用户在活动期间内的有效投注量审核计算。</li>
                    <li>投注按照每日计算（当日00:00:00-23:59:59），次日00:00:00将清空前一日销量并且重新计算销量。</li>
                    <li>本次需点击报名参与，签到奖金于活动次日派发。</li>
                    <li>所有参与用户于活动期间内最多可领取7次签到奖金及1次加奖奖金。</li>
                    <li>加奖奖金于用户首投后第八日派发。</li>
                    <li>活动期间禁止任何作弊行为，一经发现平台将取消参与活动资格，严重者将被冻结账号处理。</li>
                    <li>凤凰平台保留活动最终解释权。</li>
                </ul>
            </div>
        </div>
        <div class="copyright">&copy;2003-2017 凤凰娱乐 All Rights Reserved </div>
    </div>
</body>
<script type="text/javascript" src="js/main.js"></script>
<!--
<script type="text/javascript" src="http://static.phl58.co/static/js/phoenix.ga.js" async></script>
-->
<!-- Google Tag Manager -->
<script>
    var currentDomain = window.location.host;
    var isLocalhost = false;
    var gaID = '';
    var devDomain = ['dev', 'joy188', 'ffg2', 'ff2', 'localhost', '127.0.0.1'];
    for (var devDomainKey in devDomain) {
        if (currentDomain.indexOf(devDomain[devDomainKey]) !== -1 || currentDomain.length == 0) {
            isLocalhost = true;
        }
    }

    if (isLocalhost) {
        //測試環境
        gaID = 'GTM-PKBGG3G';
    } else {
        //正式環境
        gaID = 'GTM-5KW8C85';
    }

    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', gaID);
</script>
<!-- End Google Tag Manager -->
</html>